.careers {
  padding: 80px 60px;
  background: #f9fafb;
  text-align: center;
}

.careers h2 {
  font-size: 36px;
  color: #222;
}

.careers .sub-text {
  margin-top: 10px;
  color: #555;
  margin-bottom: 50px;
}

.careers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.career-card {
  background: white;
  padding: 35px 25px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.career-card:hover {
  transform: translateY(-8px);
}

.career-card h3 {
  color: #007cc3;
  margin-bottom: 10px;
}

.career-card button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #007cc3;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.career-card button:hover {
  background: #005fa0;
}


.career-card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.career-card.show {
  opacity: 1;
  transform: translateY(0);
}
