.platforms {
  padding: 80px 60px;
  background: rgb(235, 235, 230);
  text-align: center;
}

.platforms h2 {
  font-size: 36px;
  color: #060101;
}

.platforms .sub-text {
  margin-top: 10px;
  color: #555;
  margin-bottom: 50px;
}

.platforms-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.platform-card {
  padding: 35px 25px;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: 0.3s;
}

.platform-card:hover {
  background: #007cc3;
  color: white;
  transform: translateY(-8px);
}

.platform-card h3 {
  margin-bottom: 12px;
}

.platform-card p {
  font-size: 15px;
}


.platform-card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.platform-card.show {
  opacity: 1;
  transform: translateY(0);
}