.hero {
  height: calc(100vh - 70px); /* header height minus */
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
  height: 70px;
}

.hero h1 {
  font-size: 48px;
  color: #333;
  font-weight: 600;
}
